# Node.js
/node_modules/

# Logs
logs
*.log
npm-debug.log*

# Diretórios de build
/dist
/build

# Dependências do sistema
.DS_Store
Thumbs.db

# Arquivos de configuração do VSCode (se estiver usando)
.vscode/

# Arquivos de cache do npm
.package-lock.json
yarn.lock
.pnpm-debug.log
